<a href="https://colab.research.google.com/github/19PA1A0465/AI-LAB/blob/master/multilinear_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
from sklearn import metrics
# import matplotlib.pyplot as plt # for plotting

In [60]:
ipl=pd.read_csv("students_placement_data.csv")
ipl

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [61]:
ipl.describe()# to study  all stastics summary

          Roll No  SSC Percentage  ...  B.Tech_percentage    Backlogs
count  117.000000      117.000000  ...         117.000000  117.000000
mean    59.000000       80.324359  ...          62.943419    4.111111
std     33.919021        8.879266  ...          12.064306    6.335148
min      1.000000       47.800000  ...          31.200000    0.000000
25%     30.000000       76.000000  ...          54.180000    0.000000
50%     59.000000       82.330000  ...          64.360000    0.000000
75%     88.000000       87.000000  ...          72.570000    7.000000
max    117.000000       93.660000  ...          88.100000   25.000000

[8 rows x 5 columns]

In [62]:
ipl.describe(include="all")# to study  all stastics summary

           Roll No Gender  ... registered_for_ Placement_Training  placement status
count   117.000000    117  ...                                117               117
unique         NaN      2  ...                                  2                 2
top            NaN      M  ...                                yes        Not placed
freq           NaN     68  ...                                 67                78
mean     59.000000    NaN  ...                                NaN               NaN
std      33.919021    NaN  ...                                NaN               NaN
min       1.000000    NaN  ...                                NaN               NaN
25%      30.000000    NaN  ...                                NaN               NaN
50%      59.000000    NaN  ...                                NaN               NaN
75%      88.000000    NaN  ...                                NaN               NaN
max     117.000000    NaN  ...                                NaN               NaN

[11 rows x 9 columns]

In [0]:
ipl.isna().any() # to find NA's

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

no NA'S ARE THERE IN Data

In [64]:
ipl

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
X = ipl[['inter_Diploma_percentage','SSC Percentage'	]].values

y= ipl['B.Tech_percentage'].values

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [87]:
# Now apply linear regression model on training dataset
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [88]:
# to find the intercept of our model we use  intercept_
print("intercept=",model.intercept_)

intercept= [-4.26325641e-14]

In [89]:
# To find  slope of our model we use coef_
print("slope=",model.coef_)

slope= [[ 1.0000000e+00 -1.4177064e-17]]

In [96]:
#a=predict interpercentage
a=model.predict(X_test) 
a

array([[76.3 ],
       [94.7 ],
       [61.1 ],
       [79.9 ],
       [79.3 ],
       [54.2 ],
       [81.  ],
       [78.6 ],
       [83.  ],
       [88.6 ],
       [89.6 ],
       [68.  ],
       [92.2 ],
       [87.2 ],
       [83.33],
       [76.5 ],
       [81.  ],
       [81.7 ],
       [91.2 ],
       [80.1 ],
       [85.  ],
       [70.91],
       [88.7 ],
       [92.5 ]])

In [95]:
# b=actual prediction
b=pd.DataFrame({'predicted':a.flatten(), 'Actual':y_test.flatten()})
b.head()

   predicted  Actual
0       76.3    76.3
1       94.7    94.7
2       61.1    61.1
3       79.9    79.9
4       79.3    79.3